@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Admin Panel</h1>

<p>Hoş geldin Admin 👋</p>

<ul>
    <li><a href="/Admin/Odev/Listele">📄 Ödevleri Listele</a></li>
    <li><a href="/Admin/DagitilanOdev/Listele">📤 Dağıtılan Ödevler</a></li>
    <li><a href="/">🏠 Ana Sayfa</a></li>
</ul>
