@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>Öğrenci Ekle</h2>

<form method="post">
    <input type="text" name="AdSoyad" placeholder="Ad Soyad" /><br /><br />
    <input type="text" name="Numara" placeholder="Numara" /><br /><br />
    <input type="password" name="Sifre" placeholder="Şifre" /><br /><br />
    <button type="submit">Kaydet</button>
</form>
