@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model List<odev.dagitim.portali.models.Ogrenci>



<h2>Öğrenci Listesi</h2>

<table class="table table-bordered" id="ogrenciTablo">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ad Soyad</th>
            <th>Numara</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.AdSoyad</td>
                <td>@item.Numara</td>
            </tr>
        }
    </tbody>
</table>

<hr />

<h3>Öğrenci Ekle</h3>

<form id="ogrenciForm">

    <input type="hidden" name="Sifre" value="123456" />

    <input type="text" name="AdSoyad" class="form-control mb-2" placeholder="Ad Soyad" required />
    <input type="text" name="Numara" class="form-control mb-2" placeholder="Numara" required />

    <button type="submit" class="btn btn-primary">Öğrenci ekle</button>
</form>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $("#ogrenciForm").submit(function (e) {
        e.preventDefault();

        $.ajax({
            url: "/Admin/Ogrenci/AjaxEkle",
            type: "POST",
            data: $(this).serialize(),
            success: function (response) {

                if (response.success) {

                    let yeniSatir = `
                        <tr>
                            <td>${response.id}</td>
                            <td>${response.adSoyad}</td>
                            <td>${response.numara}</td>
                        </tr>
                    `;

                    $("#ogrenciTablo tbody").prepend(yeniSatir);
                    $("#ogrenciForm")[0].reset();
                }
                else {
                    alert("Öğrenci eklenemedi!");
                }
            }
        });
    });
</script>
